html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #fff;
}
#game-container {
  width: 360px;
  height: 1280px;
  position: fixed;
  top: 0; left: 0;
}